:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --blueviolet-color: #8A2BE2;
    --darckviolet-color: #9400D3;
    --indigo-color: #4B0082;
    --mediumpurple-color: #9370DB;
    --light-tertiary-color: #f3f6fb;
    --text-color: #343d48;
    --black:#000000;
    --font-family: 'Poppins', sans-serif;

/*Mudar cor*/
  --highlight-color: rgba(255, 255, 255, 0.2);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --switch-bg-url: url(../assets/sun.svg);
  #switch button .light{
    --switch-bg-url: url(../assets/moon-stars.svg);
 }
  }