.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: radial-gradient(circle, rgba(23, 1, 41, 1) 0%, rgba(13, 0, 22, 1) 100%);
}

.navbar .navbar_content{
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar_content .navbar_links li{
   display: inline-block;
}
.navbar .navbar_content .navbar_links li:not(:last-of-type){
    margin-right: 2rem;
}

 .navbar .navbar_content .navbar_links a{
    padding: 1rem;
    display: inline-block;
    color: var(--white);
 }
 .navbar .navbar_content .navbar_links a:hover {
 color: var(--mediumpurple-color);
 
 }
 
.navbar.active {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar_content .navbar_mobile,
  .navbar .navbar_content .navbar_mobile .mobile_links {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar .navbar_content .navbar_links {
      display: none;
    }
  
    .navbar .navbar_content .navbar_mobile {
      display: flex;
      align-items: center;
    }
  
    .navbar .navbar_content .navbar_mobile img {
      width: 3.6rem;
      height: 3.6rem;
      cursor: pointer;
      background-color: var(--gray);
    }
  
    .navbar .navbar_content .navbar_mobile.active .mobile_links {
      display: flex;
      flex-direction: column;
      background: radial-gradient(circle, rgba(23, 1, 41, 1) 0%, rgba(13, 0, 22, 1) 100%);
      color: var(--white);
      width: 100%;
      position: absolute;
      top: 98%;
      left: 0;
      padding: 1rem 0;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  
    .navbar .navbar_content .navbar_mobile.active .mobile_links li {
      margin-right: 0;
    }
  
    .navbar .navbar_content .navbar_mobile.active .mobile_links li a {
      padding: 1rem;
      display: block;
      text-align: center;
    }
  }


 /* switch */

 #switch button .light{
  --switch-bg-url: url(/css/assets/moon-stars.svg);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

 #switch span {
  display: block;
  height: 5px;
}


/*mudar cor*/
.light .navbar {
  background: var(--gray);
 }

 .light .navbar .navbar_content .navbar_links a{
  color: var(--black);
 }

 .light  .navbar .navbar_content .navbar_links a:hover {
  color: var(--mediumpurple-color);
  
  }
 .light .navbar .navbar_content .navbar_mobile.active .mobile_links {
  background: var(--gray);
  color: var(--black);
 }
 
